<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>



    <span layout:fragment="pageTitle"> - Uczniowie </span>

    <div layout:fragment="content">
    	<div th:include="menuFragment" ></div>
		<br/><Br/>
		<table border="1" cellpadding="5">
			<tr><th>Nazwa Przedmiotu</th></tr>
			<tr th:each="course: ${courses}">
				<td><span th:text="${course.name}" /></td>
			</tr>
		</table>

	<br></br>
		<form action="AddCourse" method="POST">
				<input type="hidden" name="teacherId" th:value="${teacher.id}" />
				<button type="submit">Dodaj przedmiot</button>
		</form>

		
    </div>

</body>
</html>